<h1>About</h1>

<p>This application uses:</p>

<ul>
  <li>Faker gem to generate users</li>
  <li>TheMealDB API for recipes</li>
  <li>Fruityvice API for ingredients</li>
</ul>

<p>Relationships:</p>
<img src="#"/>